<!DOCTYPE html>
<html>
<head>
  <title>Thomas IT Network Swap</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <div style="background: #10b981; color: white; padding: 1rem; text-align: center;">
      <%= flash[:notice] %>
    </div>
  <% end %>
  
  <%= yield %>
</body>
</html>
